/*Center Header Image*/
.center-image{
    display: block;
    margin: 0 auto;
}

.headerlogo {
    background-image: url('http://bit.ly/2lwaKe5');
    /* background-image: url('http://bit.ly/2lvWstN'); */
    /* background-size: auto 100%;  */
    /* background-repeat: no-repeat; */
    background-attachment: cover;
    /* opacity: .8; */
    /* transform: translate(50px, 100px); */
}

.logobackcolor {
    background-color: rgba(31,35,32,.2);
    border-radius: 50px;
}

.headerimage {
    transform: translate(50, 50);
}

.main {
    margin: 0px 0px 0px 0px !important;
    padding: 0px !important;
}

.navbar-brand {
    margin: 0px !important;
    font-family: Georgia, 'Times New Roman', Times, serif, !important;
}

.topleft {
    float: right !important;
}

.container {
    font-family: rockwell, sans-serif !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

body {
    animation: colorchange 10s infinite; 
    -webkit-animation: colorchange 90s infinite;

    font-family: rockwell, sans-serif !important;
    font-style: normal !important;
    font-weight: 300 !important;
}

@keyframes colorchange
  {
    0%   {background: rgba(198, 225, 232, .7);}
    25%  {background: rgba(203,228, 234, .8);}
    50%  {background: rgba(119, 170, 182, 1);}
    75%  {background: rgba(203,228, 234, .8);}
    100% {background: rgba(203,228, 234, .7);}
  }

.sticky-top {
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
}

.footer {
    bottom: 0;
    position: sticky;
    margin: 0 auto;
    text-align: center !important;
    /* position: fixed; */
    width: 100%;
    /* left: 50%; */
    left: 50%;
}

.btn:hover{
    background-color: rgba(119, 170, 182, 1);
    color: black !important;
}

.searchbox {
    margin: 10px 10px 15px 10px;
    padding: 5px;
    text-align: center;
    background: rgba(236, 192, 164, .8);
}
.fieldset {
    padding: 5px !important;
}

.flashes {
    font-size: 30px;
    padding: 10px 0px 10px 0px;
    color: black;
    background-color: rgba(119, 170, 182, .5);
    text-align: center;
}

.results {
    font-size: 30px;
    padding: 10px 0px 0px 0px;
}

.more{
    text-align: center;
    background: rgba(236, 192, 164, .8);
}

.btn {
    background-color: rgb(31, 35, 32);
    border: black !important;
    color: white;
}

.btn-primary :hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: black !important;
}

.jumtop{
    background-image: url('http://bit.ly/2lSEdik');
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;

    /* background-color: #C6E1E8 */
    /* background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
 */
}

.learnyourpast {
    background: rgba(236, 192, 164, .8);
    text-align: center;
}
.jumbottom {
    position: relative;
    text-align: center;
    background-image: url('http://bit.ly/2lX8Inj');
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
    margin: 10px;
    /* background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); */
}

/* do more research */
.researchbox {
    margin: 20px;
}

.card {
    margin: 20px;
    text-align: center;
}

.jumbosearch {
    background-image: url('http://bit.ly/2krVGxG');
    text-align: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbosearchtext {
    background-color: rgba(236, 192, 164, .8);

}

.sanborn {
    background-color: rgba(236, 192, 164, .8);
}

.trib {
    background-color: rgba(236, 192, 164, .8);
}
.trib img{
    height: 50%;
}

.chm {
    background-color: rgba(236, 192, 164, .8);
}

/* about */

.jumboabout {
    background-image: url('http://bit.ly/2krVGxG');
    text-align: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumboabouttext{
    background-color: rgba(236, 192, 164, .8);
}

.aboutimage{
    position: justify;
}

.aboutcacs {
    /* background-color: rgba(236, 192, 164, .8); */
    margin: 5px;
    text-align: center;
}

.abouttext {
    padding: 5px;
    
}

/* contact */


.jumbocontact {
    background-image: url('http://bit.ly/2kttrPk');
    text-align: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact {
    background-color: rgba(236, 192, 164, .8);
    text-align: center;
}

.contact a{
    text-decoration: none;
    color: rgb(119, 170, 182)
    background-color: rgba(236, 192, 164, 1)
}

.contact a:hover{
    background-color: rgb(119, 170, 182);
    color: rgb(31, 35, 32)
}

.leylaphoto {
    border-radius: 1000px;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

/* not found */

.researchcard {
    background: rgba(236, 192, 164, .8);
}

.notfoundjumbo {
    /* background-image: url("https://bit.ly/2Mst1oK"); */
    /* background-image: url('http://bit.ly/2lxGyPB'); */
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('http://bit.ly/2lCrUGH');
    /* background-color: rgba(119, 170, 182, .5); */
    text-align: center;
}

.notfoundcontainer {
    background: rgba(236, 192, 164, .8);
    
}

/* friends page */

.jumbofriends {
    background-image: url('http://bit.ly/2kttrPk');
    text-align: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.chicagoans {

}