{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumboabout">
    <div class="container">
      <h1 class="display-4">Making historic research more accessible</h1>
      <p class="lead">This site is a work in progress, created to help professional and amateur researchers get better access to the data they need. 
    </div>
</div>
<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="card">
            <div class="col">
                <img src="http://bit.ly/2KQ21gM" alt="...">
            </div>
        </div>
        <br>
        <div class="row justify-content-center aboutcacs">
            <div class="col">
            <p class="abouttext">The Chicago Address Conversion Guide is an ongoing project to help make finding the old address of a property in Chicago much simpler. In 1909, the city changed every address and re-organized it based off a 0 N, 0 S, 0 E, 0 W starting point at the corner of State and Madison streets downtown./
            Prior to this, every address in the city was unorganized and it was hard to tell distances based off of them. To find the old address of a current property in Chicago usually takes digging through old books (or PDFs of books) to perhaps find the right answer. This site was developed to create a/
            faster way to navigate through old Chicago. However, it's not comprehensive--not every address around back then still exists today, and vice versa. While you might search for an address here, you might not find its match, but there are other resources you can check as well. For any serious/
            research, it is recommended to still double check with the original address conversion books. This site is a guide to find the address you need, but all data entry has been done by humans.</p>
            </div>
        </div>
        <div class="row justify-content-center aboutcacs">
            <div class="col">
            <p class="abouttext">This project is ongoing, with the goal of updating throughout Chicago one community area at a time. It starts with Uptown and will move from there.</p>
            <p class="abouttext">Another aspect of old Chicago is that many street names have changed, and some do not exist anymore. While this is not a comprehensive guide (and one is hard to find!), it does attempt to make up for this discrepancy by/
            returning both the current and past street name, when applicable. If you don't see an old street name for a new address you entered, then the name didn't change.</p>
            </div>
        <div class="card">
    </div>
    
</div>

{% endblock content %}
