{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumboabout">
    <div class="container jumboabouttext">
      <h1 class="display-4">Making historic research more accessible</h1>
      <p class="lead">This site is a work in progress, created to help professional and amateur researchers get better access to the data they need.</p> 
    <br>
    </div>
    <br>
</div>
<div class="container">
    <div class="card" style="background-color: rgba(236, 192, 164, .8)">
        <!-- <div class="card">
            <div class="col justify-content-center"> -->
                <img src="http://bit.ly/2KQ21gM" alt="Two old Chicago houses in Woodlawn" class="card-img-top">
            <!-- </div> -->
        
            <br>
            <div class="row justify-content-center aboutcacs">
                <div class="col">
                <p class="abouttext">The Chicago Address Conversion Guide is an ongoing project to help make finding the old address of a property in Chicago much simpler. In 1909, the city changed every address and re-organized it based off a 0 N, 0 S, 0 E, 0 W starting point at the corner of State and Madison streets downtown./
                Prior to this, every address in the city was unorganized and in non-numerical order. To find the old address of a current property in Chicago usually takes digging through old books. This site was developed to create an easy way to start your search for an old address and was built/
                based off the 1909 Address Guide printed at the time of the address conversion.
                While there's a lot of data, it's not comprehensive--not every address around back then still exists today and vice versa. While you might search for an address here, you might not find its match, but there are other resources you can check as well. For any serious/
                research, it is recommended to still double check with the original address conversion books. This site is a guide to find the address you need, but all data entry has been done by humans.</p>
                <!-- </div>
            </div>
            <div class="row justify-content-center aboutcacs">
                <div class="col"> -->
                <p class="abouttext">This project is ongoing, with the goal of updating throughout Chicago one community area at a time. It starts with Uptown and will move from there.</p>
                <p class="abouttext">Another aspect of old Chicago is that many street names have changed, and some do not exist anymore. While this is not a comprehensive guide (and one is hard to find!), it does attempt to make up for this discrepancy by/
                returning both the current and past street name, when applicable. If you don't see an old street name for a new address you entered, then the name didn't change.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}
