{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbocontact">
    <div class="container contact">
      <h1 class="display-4">Hi, I'm Leyla</h1>
      <p class="lead">Got a question? Feel free to reach out!</p>
      <br>
    </div>
    <br>
  </div>]

<div class="container">
    <div class="card contact">
    <br>
        <img src="http://bit.ly/2m0TE8n" alt="A picture of Leyla" class="leylaphoto">
        <div class="card-body">
          <p class="card-text">
              <h2>I made this site!</h2>
              <br>
              <p>The Chicago Address Conversion Site was made by me, Leyla Royale, as a way to help researchers like myself have a faster way to cull through information.\
              If you have a question about this site, need help with research, or want to share what you've found with me, you can <strong><a href="mailto:leylairoyale@gmail.com" target="_top">email me here.</a></strong>
              You can find my personal website <strong><a href="http://www.leylairoyale.com" target=_blank>right here</a></strong>
              <p>I'm a software developer living in Chicago with a passion for local research and history. I've worked as a tour guide and historian in Chicago since 2011, researching, developing, and leading tour all around the city on a variety of subjects (usually death, disasters, and movie palaces).
              I'm also a classically trained cellist, research death in the city, and have worked as both a haunted house clown
              and a flying trapeze instructor.</p>
              <!-- <h4> Tip jar info can go here! </hr> -->
             
          </p>
        </div>
      </div>
</div>
{% endblock content %}