{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbofriends">
    <div class="container jumboabouttext">
      <h1 class="display-4">Friends of the Chicago Address Conversion Guide</h1>
      <p class="lead">Researchers, historians, and tour companies of note and respectability</p> 
    <br>
    </div>
    <br>
</div>

<!-- Chicago for Chicagoans -->
<div class="container">
    <div class="card" style="background-color: rgba(236, 192, 164, .8)">
        <div class=" chicagoans">
            <a href="http://www.chicagoforchicagoans.org" target="_blank"><img src="http://bit.ly/2lyS9hv"></a>
        </div>
            <div class="row justify-content-center aboutcacs">
                <div class="col">
                <p class="abouttext">
                <h5> A pay-what-you-can non-profit tour company dedicated to creating a deeper understanding between people and their spaces.</h5>
                The mission of Chicago for Chicagoans is simple: to educate residents about the places they inhabit, creating lifelong bonds and a deeper understanding between people and their spaces. Chicago for Chicagoans believes in accessibility of information, and conducts programming on a "pay-what-you-can" basis. Everyone deserves opportunities to learn about their surroundings, no matter what their financial situation may be! 
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<!-- Mysterious Chicago -->
<div class="container">
    <div class="card" style="background-color: rgba(236, 192, 164, .8)">
        <div class=" chicagoans">
            <a href="http://www.mysteriouschicago.com" target="_blank"><img src="http://bit.ly/2k4yyW2"></a>
        </div>
            <div class="row justify-content-center aboutcacs">
                <div class="col">
                <p class="abouttext">
                <h5> Historian, author, and Mysterious Chicago founder has been leading tours in Chicago and New York for over a decade.</h5>
                Mysterious Chicago is run by Adam Selzer. Adam is the author of more than a dozen Chicago history books, appears on 
                TV all the time, and has been a tour guide for over a decade. He’s run ghost tours, architectural boat tours, 
                and a whole lot more for several companies before forming Mysterious Chicago. Adam is a first rate Chicago historic researcher and has spent several lifetimes
                in the archives to find the truths that lie buried in the past. 
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}