{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumtop">
  <div class="container">
    <h1 class="display-4">Learn your past</h1>
    <p class="lead">This site is available to all as a tool to help research the history of a building. You can use it to find the pre 1909 address of a place in Chicago.</p>
    <p>Before 1909, the address in Chicago made little sense. They weren't properly organized, and it wasn't until 1909 that the city finally rewrote them into a grid system, starting with the 0/0 point at State and Madison in the Loop. While it makes naviagting the city today much easier, it makes it more difficult for researchers as you must look up the pre 1909 address if you want data from before that year. With this site (still very much a work in progress), instead of hunting through old books you can simply enter the old (or new!) address to get its corresponding pair. While useful, please note that not every address in the city has a pre 1909 address. You might also need to change the street name to its 1909 equivalent, a feature that we'll be working on for this site.</p>
  </div>
</div>

  <!-- Old to new address search -->
  <div class="container">
    <div class="row">
      <div class="col searchbox">
        <!-- below is the flash jinja -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                {{ message}} 
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <!-- method and methods are different, and only what you need should be posted. -->
        <form action="{{ url_for('go_search')}}", method="POST">
            {{ form.hidden_tag() }}
            <h3>Search for the post 1909 address of a property.</h3>
            <fieldset>
                <label for="old"> </label>
                {{ form.old_number(class="form-control", placeholder="Old address number")}}
            </fieldset>
            <fieldset>
                <label for="direction"> </label>
                {{ form.direction(class="form-control", placeholder="Direction")}}
            </fieldset>
            <fieldset>
                <label for="street"> </label>
                {{ form.street_name(class="form-control", placeholder="Old street name")}}
            </fieldset>
            <br>
            <div>
                {{ form.submit(class = "btn btn-primary")}}
            </div>
            <!-- jinja to return results -->
            <div class="results">
              {% if question %}
                <h4>Here's the post 1909 address:</h4>
                {{ question.new_num }}
                {{ question.new_dir}}
                {{ question.new_street}}
                {{ question.duplicate}}
              {% endif %}
            </div>
            <!-- end results jinja -->
        </form>
      </div>
      <div class="col searchbox">
          <!-- New to Old address search -->
        <form action="{{ url_for('re_search')}}", method="POST">
            <h3>Search for the pre 1909 address of a property</h3>
            <fieldset>
                <label for="new"> </label>
                {{ newform.new_number(class="form-control", placeholder="New address number")}}
            </fieldset>
            <fieldset>
                <label for="direction"> </label>
                {{ newform.direction(class="form-control", placeholder="Direction")}}
            </fieldset>
            <fieldset>
                <label for="street"> </label>
                {{ newform.street_name(class="form-control", placeholder="New street name")}}
            </fieldset>
            <br>
            <div>
                {{ newform.submit(class = "btn btn-primary")}}
            </div>
            <!-- jinja to return results -->
            <div class="results">
                {% if newquestion %}
                  <h4>Here's the pre 1909 address:</h4>
                  {{ newquestion.old_num }}
                  {{ newquestion.old_dir}}
                  {{ newquestion.old_street}}
                  {{ newquestion.duplicate}}
                {% endif %}
              </div>
              <!-- end results jinja -->
        </form>
      </div>
      <!-- <div class="w-100"></div>
      <div class="col">Column</div>
      <div class="col">Column</div> -->
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid jumbottom">
      <div class="container">
        <h1 class="display-4 more">Need more information?</h1>
        <br>
        <p class="lead more">
            <a href="{{url_for("do_research") }}" class="btn btn-primary stretched-link">Click here to find resources to help you with your historical research.</a>
      </div>
    </div>
  

 





{% endblock content %}