{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid notfoundjumbo">
    <div class="container notfoundcontainer">
      <h1 class="display-4">Can't find your address?</h1>
      <p class="lead">Historical research can be tricky, but there are a few things you can do to help find what you're looking for.
    <br>
    </p>
    <br>
    </div>
    
  </div>

<div class="container">
    <div class="card researchcard">
        <img src="http://bit.ly/2lxGyPB" class="card-img-top greystone" alt="A Chicago greystone against a blue sky">
        <div class="card-body">
          <p class="card-text">
              <h2>If you can't find your addresss...</h2>
              <br>
              <ul style="text-align: left;">
                    <li><strong>How are you entering the address?</strong> Some old addresses are listed with the direction attatched to them, i.e. 18w. If it is, try searching for the number 18w w Streetname.
                    <br>
                    <li><strong>Your address might not exist!</strong> Not all addresses in Chicago existed before 1909, some may have been mis-recorded, and some just frustratingly seem like they don't exist.</li>
                    <br>
                    <li><strong>The street name might have changed.</strong> Streets have been renamed for various reasons throughout the years, so you might be looking for one that doesn't exist anymore. (Fun fact: there was once a Fake Street in Chicago, but it was renamed after residents complained no one believed that they lived on Fake Street!)</li>
                    <br>
                    <li><strong>Is it misspelled?</strong> It's not uncommon to find multiple ways to spell things, especially when you go back 100+ years. Check for multiple spellings of the same place.</li>
                    <br>
                    <li><strong>Check for variations.</strong> If you're looking for the old address of, say, 800 W Belmont, look for 800 Belmont, 800 Wear Belmont, etc.</li>
              </ul>
          </p>
          <br>
        </div>
      </div>
</div>

{% endblock content %}