{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid jumbosearch">
    <div class="container">
      <h1 class="display-4">Do more research</h1>
      <p class="lead">This site is only just the start! Historical research has no clear path to follow, but on this page you can find many other tools to help you discover the history of a Chicago property.
    </div>
  </div>

<div class="container container-fluid">
  <div class="row">
    <!-- put cards here -->
    <div class="col-md-4 sanborn">
      <div class="card" style="width: 18rem;">
        <img src="http://bit.ly/2MBXhh0" class="card-img-top" alt="Sanborn Fire Maps Logo">
        <div class="card-body">
          <p class="card-text">
            <h3> Sanborn Fire Maps</h3>
            <p>Sanborn Fire Maps were used to help document the city over time for insurance purposes. They can be useful for finding clues as to how a neighborhood used to look 100+ years ago.</p>
          </p>
          <a href="https://www.loc.gov/resource/g4104cm.g01790189409/?st=gallery" target="_blank" class="btn btn-primary sanborn stretched-link">Sanborn Fire Maps link</a>
        </div>
      </div>
    </div>
  

    <div class="col-md-4 trib">
      <div class="card" style="width: 18rem;">
        <img src="http://bit.ly/2TZvVSE" class="card-img-top" alt="A drawing circa 1900 of a patient being scared by a prop skeleton">
        <div class="card-body">
          <p class="card-text">
            <h3>Chicago Tribune Newspaper Archives</h3>
            <p>The Chicago Tribune Newspaper Archives can offer a wealth of knowledge of people, places, and events in Chicago. Click the button below and sign up for a library card to get free access.</p>
             <a href="https://www.chipublib.org/resources-types/newspaper/" target="_blank" class="btn btn-primary sanborn stretched-link">Chicago Tribune Archives</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 chm">
      <div class="card" style="width: 18rem;">
        <img src="http://bit.ly/2PcoqcB" class="card-img-top" alt="The Ira Couch mausoleum by the Chicago History Museum">
        <div class="card-body">
          <p class="card-text">
            <h3>Chicago History Museum</h3>
            <p>The CHM has an excellent research center with dedicated researchers who can help you find what you need. They also have an excellent online guide to finding out the history of your home.</p>
            <a href="http://libguides.chicagohistory.org/buildings" target="_blank" class="btn btn-primary sanborn stretched-link">Chicago History Museum</a>
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}